body{
  height: 900px;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  background-color: black;
}
h2{
  color: white;
  display: flex;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* MENU NAV  */
.navbar-collapse{
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}
.navbar-brand{
  padding-left: 2rem;
  padding-right: 20rem;
  font-size: 2rem;
}

/* FIRST BIG IMAGE */
.first-image{
  filter: grayscale(100%);
  background-repeat: no-repeat;
}
.flex-container{
  color: white;
  display: flex;
  position: absolute;
  margin-top: 10rem;
}
.flex-item{
  color: white;
  font-size: 1rem;
}
.flex-item > p{
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  text-align: center;
}
.flex-item > h2{
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  text-align: center;
}
.btn{
  text-align: center;
}

/* .bbtn-outline-secondary{
  background-color: transparent;
  display: flex;
  align-items: center;
}
.center > btn-outline-secondary{
  display:flex;
  flex-wrap: nowrap;
  align-content: center;
  position: relative;
  text-align: center;
  justify-content: center;
} */


/* THREE COLUMNS AFTER BIG IMAGE */
.homewidget{
  color: white;
  font-size: 12px;
  text-align: justify;
  margin-top: 3rem;
  align-content: center;
  text-align: center;
}
.homewidget > h3{
  font-size: 1rem;
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   align-content: center;
  justify-items: center;
}
.fwidgets {
  margin-top:0;
  background: #ed564b;
  border-top: 5px solid #f96b61;
  border-bottom: 5px solid #f96b61;
}
.flex-prev {
  display: flex;
  color: white;
  margin-left: 2rem;
  margin-right: 4rem;
  font-size: 4rem;
  margin-top: 4rem;
}
.flex-next {
  display: flex;
  color: white;
  margin-left: 2rem;
  margin-right: 4rem;
  font-size: 4rem;
  margin-top: 4rem;
}
.container{
  justify-content: center;
  background: #ed564b;
  border-top: 5px solid #f96b61;
  border-bottom: 5px solid #f96b61;
  margin-left: 3.5rem;
  width: 1200px;
  height: 20rem;
}
.content{
  background-color: white;
}
.column > div > img{
  width: 17rem;
  height: 10rem;
  display: flex;
  position: relative;
  justify-content: space-between;
  text-align: justify;
}
.row-2{
  background-color: white;
  padding-top: 3rem;
}
.line{
  /* background-color: black; */
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* FIRST PICTURE IN GRID AND TEXT  */
.row-2 > div > p{
  margin-left: 2rem;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  color: gray;
}
.row-2 > div > h3 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-left: 2rem;
}
.column{
  display: flex;
  flex-wrap: nowrap;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: space-around;
}
.column > div > p{
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

/* SECOND PICTURE IN GRID AND TEXT  */
.row-3{
  background-color: white;
}
.column2{
  display: flex;
  flex-wrap: nowrap;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: space-around;
}
.column2 > div > img{
  width: 17rem;
  height: 10rem;
}
.row-3 > div > p{
  margin-left: 2rem;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  color: gray;
}
.row-3 > div > h3 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-left: 2rem;
}
.column2 > div > p{
  width: 17rem;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
.column2 > div > h3{
  font-size: 0.8rem;
  font-weight: bold;
  text-align: justify;
}
.column2 > div > h6{
  width: 17rem;
  text-align: justify;
}
.fwidgets2 {
  margin-top:0;
  background: #ed564b;
  border-top: 3px solid #f96b61;
  border-bottom: 5px solid #f96b61;
}

/* FOOTER */

.footer{
  background-color: darkgray;
}
.row-fotter{
  width: 17rem;
  text-align: justify;
}
.column3{
  display: flex;
  flex-wrap: nowrap;
  margin-left: 2rem;
  margin-right: 2rem;
}
.column3 > div > h3{
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
}
.tittle{
  margin-left: 2rem;
}
.column3 > div > h6{
  margin-left: 2rem;
  margin-right: 2rem;
  width: 17rem;
}
.column3 > div > a{
  width: 16rem;
  color: black;
}


/* COPRIGHTS */
.copyright{
  background-color: rgba(37, 37, 37, 0);
  color: white;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 0.7rem;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.new {
  border-top: 1px dashed;
  width: 16rem;
  margin-right: 1rem;
}